#mainSite{
  display:none;
}

#login{
  display:block;
}
input{
padding:10px;
width:200px;
border-radius:8px;
border:1px solid gray;
}
body{
font-family: Arial;
background:#f6f2ff;
text-align:center;
margin:0;
}

section{
padding:40px;
}

h1,h2{
color:#4b3f72;
}

button{
padding:10px 20px;
margin:10px;
border:none;
background:#9f8cff;
color:white;
font-size:16px;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#7f6de0;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
margin-top:20px;
}

.card{
background:white;
padding:20px;
width:200px;
border-radius:15px;
box-shadow:0px 0px 10px gray;
}

select{
padding:8px;
border-radius:8px;
}

.bar{
background:white;
margin:10px auto;
width:180px;
padding:5px;
border-radius:10px;
box-shadow:0px 0px 5px gray;
box-sizing:border-box
}
nav{
background:#7f6de0;
padding:12px;
position:sticky;
top:0;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}
.progress{
  width:120px;   /* try 120px or 140px */
  background:#ddd;
  margin:auto;
  border-radius:10px;
  overflow:hidden;
}

.progress div{
height:18px;
background:#9f8cff;
width:0%;
transition:1s;
}
@media(max-width:600px){

.cards{
flex-direction:column;
align-items:center;
}

.progress{
width:50%;
}

button{
width:80%;
}

}
#mainSite{
display:none;
}
textarea{
width:80%;
max-width:400px;
padding:12px;
border-radius:10px;
border:1px solid gray;
font-size:14px;
}

#stressResult{
font-size:18px;
font-weight:bold;
color:#4b3f72;
}

#quoteResult{
font-style:italic;
color:#555;
margin-top:10px;
}
#stressChart{
display:block;
margin:15px auto;
}
#progress h2{
font-size:20px;
}

#progress p{
font-size:14px;
}
.bar span{
  float:right;
}